* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --aquamarine: #7fffd4;
    --light-blue: #add8e6;
    --light-green: #90ee90;
    --cadet-blue: #5f9ea0;
    --acqua: #00ffff;
    --black: #000;
    --white: #fff;
    --dark-grey: #333;
}

body {
    font-family: sans-serif, Verdana, Tahoma, sans-serif;
    color: var(--black);
}

li {
    list-style: none;
}

.wrapper {
    display: grid;
    grid-template-rows: 1fr 3fr;
}

.banner-div {
    background-color: var(--light-blue);

    padding: 30px;
    display: flex;
    justify-content: space-between;
}

.lower-content {
    background-color: var(--light-green);

    display: grid;
    grid-template-columns: 1fr 3fr;
    /* padding: 30px; */
}

.left-nav {
    padding: 30px;
    background-color: var(--white);
}

.projects-div {
    margin-top: 20px;
}

.project {
    margin: 10px 0px;
}

.add-project {
    display: flex;
}


.todos-layout {
    padding: 10px;
}

.project-title-div {
    background-color: var(--aquamarine);
    padding: 40px 20px;
    border-radius: 20px;
}

.todo-description {
    color: var(--dark-grey);
}

.todos-list {
    margin: 20px 0px;
    padding: 20px;
}

.s-todo {
    margin: 10px 20px;
    padding: 10px;
    background-color: var(--cadet-blue);
    display: grid;
    grid-template-columns: 1fr 2fr 8fr 3fr;
}

.delete-todo-btn {
    /* padding: 5px; */
    height: 2rem;
    width: 2rem;
    background-color: var(--acqua);
}

.done-btn {
    margin: 0px 10px;
}
.todo-text {
    margin: 0px 10px;
}
.priority-select {
    margin: 0px 10px;
}

.add-todos {
    display: flex;
    margin: 30px 0px;
}

.form {
    margin: 10px;
    padding: 20px;
    box-shadow: 0px 0px 5px var(--black);
}

.form fieldset {
    border: none;
}

.form fieldset li {
    margin: 10px 0px;
}

input {
    border-radius: 5px;
}

.submit-form-btn {
    padding: 10px 7px;
    border-radius: 10px;
    color: var(--white);
    background-color: var(--black);
}

.new-todo-form {
    position: absolute;
    background-color: var(--aquamarine);
    left: .5vw;
    top: .5vh;
    z-index: -1;
}

.new-project-form {
    position: absolute;
    background-color: var(--aquamarine);
    left: .5vw;
    top: .5vh;
    z-index: -1;
}